@import 'callout.css';
@import 'codeblock-label.css';
@import 'cloud-ide.css';

/* Overrides not available in the themes plugin*/
article.markdown-section > h1:not(:first-child) {
   margin-top: 3rem; /*was 3rem*/ /*Changing this seemingly did nothing.*/
}

.markdown-section iframe {
   margin: 6rem 0; /*was 1em 0*/ /*Changing this seemingly did nothing*/
   border: 1px solid #eee;
   width: 1px;
   min-width: 100%;
}

/* Added styles */
.image-border {
   border: 2px solid #9d81a2;
   border-radius: 6px;
}

.cnc-hide-element {
   display: none;
}

/* Fix TOC plugin not taking into account navbar */
.page_toc {
   top: 150px; /*was 70px*/
}


